# environment variables used for watsonx configuration in IBM concert
export WATSONX_API_KEY=<insert your key>
export WATSONX_API_PROJECT_ID=<insert your project id>
export WATSONX_API_URL=<insert appropriate URL>

